Repository tectonic-typesetting/tectonic-ci-support: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/builder-cd-pipeline.yml, .azure-pipelines/builder-pr-pipeline.yml, .azure-pipelines/custom-cross-pr-pipeline.yml

.azure-pipelines/builder-cd-pipeline.yml:

# Copyright 2019 the Tectonic Project
# Licensed under the MIT License.

# Triggered when the master branch is updated with commits that modify files
# in the "cross-images" subdirectory. Builds the Docker images and deploys
# them to DockerHub.

trigger:
  branches:
    exclude:
    - '*'

pr:
  branches:
    include:
    - master
  paths:
    include:
    - cross-images/

variables:
- template: variables.yml

jobs:
- job: build_builders
  pool:
    vmImage: ${{ variables.linux_image }}

  strategy:
    matrix:
      ${{ each target in variables.cross_targets }}:
        ${{ target.snake }}:
          target_kabob: ${{ target.kabob }}
          target_snake: ${{ target.snake }}

  steps:

  # Build images as in the CI pipeline ...
  - template: build-builder-steps.yml
    parameters:
      platform: $(target_kabob)

  # ... but also deploy to DockerHub
  - task: Docker@2
    displayName: Push crossbuild:$(target_kabob) image to DockerHub
    inputs:
      command: push
      containerRegistry: pkgw@DockerHub
      repository: tectonictypesetting/crossbuild
      tags: $(target_kabob)

.azure-pipelines/builder-pr-pipeline.yml:

# Copyright 2019 the Tectonic Project
# Licensed under the MIT License.

# Triggered when a pull request is issued against the master branch that
# modifies files in the "cross-images" subdirectory. Does a test build of the
# Docker images.

trigger:
  branches:
    exclude:
    - '*'

pr:
  branches:
    include:
    - master
  paths:
    include:
    - cross-images/

variables:
- template: variables.yml

jobs:
- job: build_builders
  pool:
    vmImage: ${{ variables.linux_image }}

  strategy:
    matrix:
      ${{ each vpair in variables }}:
        ${{ if startsWith(vpair.key, 'target_') }}:
          ${{ vpair.key }}:
            target_id: ${{ vpair.key }}
            target_kabob: ${{ vpair.value }}

  steps:
  - template: build-builder-steps.yml
    parameters:
      platform: $(target_kabob)

.azure-pipelines/custom-cross-pr-pipeline.yml:

# Copyright 2019 the Tectonic Project
# Licensed under the MIT License.

# Triggered when a pull request is issued against the master branch that
# modifies files in the "custom-cross" subdirectory. Does a test build of that
# Docker image.

trigger:
  branches:
    exclude:
    - '*'

pr:
  branches:
    include:
    - master
  paths:
    include:
    - custom-cross/

variables:
- template: variables.yml

jobs:
- job: build_custom_cross
  pool:
    vmImage: ${{ variables.linux_image }}

  steps:
  - template: build-custom-cross-steps.yml
    parameters:
      cross_tag: ${{ variables.cross_tag }}

.azure-pipelines/custom-cross-cd-pipeline.yml: track changes since previous commitworked
  .azure-pipelines/custom-cross-cd-pipeline.yml
Due: none

.azure-pipelines/builder-cd-pipeline.yml: fix conditions and update target enumeration
  .azure-pipelines/builder-cd-pipeline.yml
Due: none

custom-cross: set up to be agnostic about host UID/GID
  custom-cross/001-privileged.patch
  custom-cross/001-privileges.patch
  custom-cross/Dockerfile
  custom-cross/README.md
Due: .azure-pipelines/custom-cross-pr-pipeline.yml

cross-images/entrypoint.sh: work even when host UID/GID change
  cross-images/entrypoint.sh
Due: .azure-pipelines/builder-cd-pipeline.yml, .azure-pipelines/builder-pr-pipeline.yml

.azure-pipelines: have to opt the CD pipelines out of PR triggering, it seems
  .azure-pipelines/builder-cd-pipeline.yml
  .azure-pipelines/custom-cross-cd-pipeline.yml
Due: none

cross-images: UID handling wasn't fully baked -- needs to happen inside alpine too
  cross-images/04_ubuntu_priv_setup.sh
  cross-images/entrypoint.sh
  cross-images/toolwrapper.sh.in
Due: .azure-pipelines/builder-cd-pipeline.yml, .azure-pipelines/builder-pr-pipeline.yml

cross-images/build.arm-unknown-linux-musleabihf.sh: make more flexible
  cross-images/build.arm-unknown-linux-musleabihf.sh
Due: .azure-pipelines/builder-cd-pipeline.yml, .azure-pipelines/builder-pr-pipeline.yml

custom-cross: hack it to avoid failures with the current Tectonic test suite
  custom-cross/002-rw-project.patch
  custom-cross/Dockerfile
  custom-cross/README.md
Due: .azure-pipelines/custom-cross-pr-pipeline.yml

tool: add a helper tool
  tool/.gitignore
  tool/Cargo.lock
  tool/Cargo.toml
  tool/README.md
  tool/src/main.rs
Due: none

.azure-pipelines: add PR pipeline for the tool
  .azure-pipelines/build-tool-steps.yml
  .azure-pipelines/tool-pr-pipeline.yml
  .azure-pipelines/variables.yml
Due: none

.azure-pipelines/build-tool-steps.yml: fix toolchain specification
  .azure-pipelines/build-tool-steps.yml
Due: none

tool/src/main.rs: allow the tag to be overridden
  tool/src/main.rs
Due: none

.azure-pipelines/tool-cd-pipeline.yml: implement CD of the tool
  .azure-pipelines/tool-cd-pipeline.yml
Due: none

.azure-pipelines/tool-cd-pipeline.yml: typo
  .azure-pipelines/tool-cd-pipeline.yml
Due: none

.azure-pipelines/tool-cd-pipeline.yml: CI/CD debugging
  .azure-pipelines/tool-cd-pipeline.yml
Due: none

.azure-pipelines/tool-cd-pipeline.yml: duh
  .azure-pipelines/tool-cd-pipeline.yml
Due: none

.azure-pipelines/build-tool-steps.yml: too clever by a half
  .azure-pipelines/build-tool-steps.yml
Due: none

.azure-pipelines/tool-cd-pipeline.yml: yes, need to actually wire in the token
  .azure-pipelines/tool-cd-pipeline.yml
Due: none

tool: add --overwrite option
  .azure-pipelines/tool-cd-pipeline.yml
  tool/src/main.rs
Due: none

tool: check for AppVeyor environment variables too
  tool/src/main.rs
Due: none

cross-images/03_alpine_populate.sh: just download all of the keys
  cross-images/03_alpine_populate.sh
Due: .azure-pipelines/builder-cd-pipeline.yml, .azure-pipelines/builder-pr-pipeline.yml

cross-images/Dockerfile.alpine-chroot-cross: expand a comment
  cross-images/Dockerfile.alpine-chroot-cross
Due: .azure-pipelines/builder-cd-pipeline.yml, .azure-pipelines/builder-pr-pipeline.yml

cross-images: add support for x86_64-unknown-linux-musl
  cross-images/03_alpine_populate.sh
  cross-images/05_ubuntu_unpriv_setup.sh
  cross-images/06_setup_env.sh
  cross-images/Dockerfile.alpine-chroot
  cross-images/build.x86_64-unknown-linux-musl.sh
  cross-images/linkwrapper.sh.in
  cross-images/toolwrapper.sh.in
Due: .azure-pipelines/builder-cd-pipeline.yml, .azure-pipelines/builder-pr-pipeline.yml

cross-images/mini-aports/scripts/bootstrap.sh: remove debugging crud
  cross-images/mini-aports/scripts/bootstrap.sh
Due: .azure-pipelines/builder-cd-pipeline.yml, .azure-pipelines/builder-pr-pipeline.yml

.azure-pipelines/variables.yml: set up to test and deploy the x86_64-unknown-linux-musl cross-builder
  .azure-pipelines/variables.yml
Due: none

[DO NOT MERGE] test docker buildx
  .azure-pipelines/custom-cross-pr-pipeline.yml
  custom-cross/TEST/Dockerfile
Due: .azure-pipelines/custom-cross-pr-pipeline.yml

iterate
  .azure-pipelines/custom-cross-pr-pipeline.yml
Due: none

iterate
  .azure-pipelines/custom-cross-pr-pipeline.yml
  custom-cross/TEST/Dockerfile
Due: .azure-pipelines/custom-cross-pr-pipeline.yml

iterate
  custom-cross/TEST/Dockerfile
Due: .azure-pipelines/custom-cross-pr-pipeline.yml

cross-images: add mips-unknown-linux-gnu builder
  cross-images/01_debian_populate.sh
  cross-images/02_debian_setup_env.sh
  cross-images/Dockerfile.debian-cross
  cross-images/build.mips-unknown-linux-gnu.sh
  cross-images/debian-entrypoint.sh
Due: .azure-pipelines/builder-cd-pipeline.yml, .azure-pipelines/builder-pr-pipeline.yml

.azure-pipelines/variables.yml: CI/CD mips-unknown-linux-gnu
  .azure-pipelines/variables.yml
Due: none

cross-images/02_debian_setup_env.sh: use the new semi-static mode for linking
  cross-images/02_debian_setup_env.sh
Due: .azure-pipelines/builder-cd-pipeline.yml, .azure-pipelines/builder-pr-pipeline.yml

cross-images: attempt to fix musl static builds
  cross-images/linkwrapper.sh.in
Due: .azure-pipelines/builder-cd-pipeline.yml, .azure-pipelines/builder-pr-pipeline.yml

cross-images: hack to fix arm-unknown-linux-musleabihf build
  cross-images/06_setup_env.sh
Due: .azure-pipelines/builder-cd-pipeline.yml, .azure-pipelines/builder-pr-pipeline.yml

Add a cross image for i686-unknown-linux-gnu
  cross-images/01_debian_populate.sh
  cross-images/build.i686-unknown-linux-gnu.sh
Due: .azure-pipelines/builder-cd-pipeline.yml, .azure-pipelines/builder-pr-pipeline.yml

.azure-pipelines/variables.yml: add i686 to the CI
  .azure-pipelines/variables.yml
Due: none

cross-images: update x86_64-musl for Rust 1.52
  cross-images/04_ubuntu_priv_setup.sh
  cross-images/Dockerfile.alpine-chroot
  cross-images/linkwrapper.sh.in
Due: .azure-pipelines/builder-cd-pipeline.yml, .azure-pipelines/builder-pr-pipeline.yml

cross-images: recent x86_64 change broke arm/musl
  cross-images/05_ubuntu_unpriv_setup.sh
  cross-images/linkwrapper.sh.in
Due: .azure-pipelines/builder-cd-pipeline.yml, .azure-pipelines/builder-pr-pipeline.yml
