Repository tectonic-typesetting/tectonic-ci-support: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/builder-cd-pipeline.yml, .azure-pipelines/builder-pr-pipeline.yml, .azure-pipelines/custom-cross-cd-pipeline.yml, .azure-pipelines/custom-cross-pr-pipeline.yml, .azure-pipelines/tool-cd-pipeline.yml, .azure-pipelines/tool-pr-pipeline.yml

Path conditions:
  .azure-pipelines/builder-cd-pipeline.yml: any of: cross-images
  .azure-pipelines/builder-pr-pipeline.yml: any of: cross-images
  .azure-pipelines/custom-cross-cd-pipeline.yml: any of: custom-cross
  .azure-pipelines/custom-cross-pr-pipeline.yml: any of: custom-cross
  .azure-pipelines/tool-cd-pipeline.yml: any of: tool
  .azure-pipelines/tool-pr-pipeline.yml: any of: tool

cross-images: update to Alpine 3.16
  cross-images/03_alpine_populate.sh
  cross-images/Dockerfile.alpine-chroot
  cross-images/Dockerfile.alpine-chroot-cross
Due: .azure-pipelines/builder-cd-pipeline.yml, .azure-pipelines/builder-pr-pipeline.yml

cross-images: fix static library additions for Rust 1.61
  cross-images/06_setup_env.sh
Due: .azure-pipelines/builder-cd-pipeline.yml, .azure-pipelines/builder-pr-pipeline.yml

tool: delete; superseded by Cranko
  .azure-pipelines/build-tool-steps.yml
  .azure-pipelines/tool-cd-pipeline.yml
  .azure-pipelines/tool-pr-pipeline.yml
  tool/.gitignore
  tool/Cargo.lock
  tool/Cargo.toml
  tool/README.md
  tool/src/main.rs
Due: .azure-pipelines/tool-cd-pipeline.yml, .azure-pipelines/tool-pr-pipeline.yml

bigendian: remove this
  bigendian/.gitignore
  bigendian/README.md
  bigendian/Vagrantfile
  bigendian/inner-provision.sh
  bigendian/make-chroot.sh
  bigendian/outer-provision.sh
Due: none

kcov: remove this
  kcov/debian/README.source
  kcov/debian/changelog
  kcov/debian/compat
  kcov/debian/control
  kcov/debian/copyright
  kcov/debian/gbp.conf
  kcov/debian/jquery.tablesorter.js
  kcov/debian/jquery.tablesorter.min.js
  kcov/debian/jquery.tablesorter.widgets.js
  kcov/debian/jquery.tablesorter.widgets.min.js
  kcov/debian/manpages
  kcov/debian/patches/disable-tests.patch
  kcov/debian/patches/fpic.patch
  kcov/debian/patches/javascript.patch
  kcov/debian/patches/series
  kcov/debian/robotframework-2.8.7.tar.gz
  kcov/debian/rules
  kcov/debian/source/format
  kcov/debian/source/include-binaries
  kcov/debian/source/options
  kcov/debian/source/patch-header
  kcov/debian/watch
Due: none

README.md: update
  README.md
Due: none

cross-images/entrypoint.sh: also bind-mount /tmp into Alpine chroot
  cross-images/entrypoint.sh
Due: .azure-pipelines/builder-cd-pipeline.yml, .azure-pipelines/builder-pr-pipeline.yml

cross-images/mini-aports: update to latest Alpine 3.16
  cross-images/mini-aports/main/binutils/APKBUILD
  cross-images/mini-aports/main/binutils/binutils-ppc64le-assertion.patch
  cross-images/mini-aports/main/musl/0001-fix-mishandling-of-errno-in-getaddrinfo-AI_ADDRCONFI.patch
  cross-images/mini-aports/main/musl/0001-fix-return-value-of-gethostby-name-2-addr-with-no-re.patch
  cross-images/mini-aports/main/musl/0001-fix-return-value-of-gethostnbyname-2-_r-on-result-no.patch
  cross-images/mini-aports/main/musl/0001-remove-impossible-error-case-from-gethostbyname2_r.patch
  cross-images/mini-aports/main/musl/APKBUILD
  cross-images/mini-aports/main/musl/relr-1.patch
  cross-images/mini-aports/main/musl/relr-2.patch
  cross-images/mini-aports/main/musl/relr-3.patch
  cross-images/mini-aports/main/musl/relr-4.patch
Due: .azure-pipelines/builder-cd-pipeline.yml, .azure-pipelines/builder-pr-pipeline.yml

cross-images/build.mips-unknown-linux-gnu.sh: document MIPS deprecation
  cross-images/build.mips-unknown-linux-gnu.sh
Due: .azure-pipelines/builder-cd-pipeline.yml, .azure-pipelines/builder-pr-pipeline.yml

Update READMEs with lots of new info
  README.md
  cross-images/README.md
  custom-cross/README.md
Due: .azure-pipelines/builder-cd-pipeline.yml, .azure-pipelines/builder-pr-pipeline.yml, .azure-pipelines/custom-cross-cd-pipeline.yml, .azure-pipelines/custom-cross-pr-pipeline.yml

cross-images: try to slim down builds with --no-install-recommends on apt-get
  cross-images/01_debian_populate.sh
  cross-images/04_ubuntu_priv_setup.sh
Due: .azure-pipelines/builder-cd-pipeline.yml, .azure-pipelines/builder-pr-pipeline.yml

cross-images/README.md: document the mini-aports tree a bit
  cross-images/README.md
Due: .azure-pipelines/builder-cd-pipeline.yml, .azure-pipelines/builder-pr-pipeline.yml

cross-images/build.aarch64-unknown-linux-musl.sh: preliminary work on this platform
  cross-images/03_alpine_populate.sh
  cross-images/05_ubuntu_unpriv_setup.sh
  cross-images/build.aarch64-unknown-linux-musl.sh
Due: .azure-pipelines/builder-cd-pipeline.yml, .azure-pipelines/builder-pr-pipeline.yml

.azure-pipelines/variables.yml: get CI working again, hopefully
  .azure-pipelines/variables.yml
  cross-images/README.md
Due: .azure-pipelines/builder-cd-pipeline.yml, .azure-pipelines/builder-pr-pipeline.yml

.azure-pipelines/variables.yml: right ... remove MIPS here
  .azure-pipelines/variables.yml
Due: none

cross-images/README.md: add note about running the images
  cross-images/README.md
Due: .azure-pipelines/builder-cd-pipeline.yml, .azure-pipelines/builder-pr-pipeline.yml

cross-images/01_debian_populate.sh: fix up the i686-unknown-linux-gnu image
  cross-images/01_debian_populate.sh
  cross-images/Dockerfile.debian-cross
Due: .azure-pipelines/builder-cd-pipeline.yml, .azure-pipelines/builder-pr-pipeline.yml

Install CA certs on Docker, and mount them into alpine
  cross-images/04_ubuntu_priv_setup.sh
  cross-images/entrypoint.sh
Due: .azure-pipelines/builder-cd-pipeline.yml, .azure-pipelines/builder-pr-pipeline.yml

Fix problems caused by Ubuntu etc in Alpine
  cross-images/entrypoint.sh
Due: .azure-pipelines/builder-cd-pipeline.yml, .azure-pipelines/builder-pr-pipeline.yml

Also install ca-certs in debian environment
  cross-images/01_debian_populate.sh
Due: .azure-pipelines/builder-cd-pipeline.yml, .azure-pipelines/builder-pr-pipeline.yml

Delete custom-cross directory
  custom-cross/001-privileges.patch
  custom-cross/002-rw-project.patch
  custom-cross/Dockerfile
  custom-cross/README.md
Due: .azure-pipelines/custom-cross-cd-pipeline.yml, .azure-pipelines/custom-cross-pr-pipeline.yml

Update README.md
  README.md
Due: none

Update README.md
  cross-images/README.md
Due: .azure-pipelines/builder-cd-pipeline.yml, .azure-pipelines/builder-pr-pipeline.yml
